/* TEXT STYLES */
h2 {
    font-size: 20px;
    color: black;
}
h3 {
    font-size: 15px;
    font-style: italic;
    color: gray;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    width: 300px;
    float: left;
    color: black;
    text-align: left;
}

.recipes {
    width: 800px;
}

.shopping_list {
    background-color: white;
    border-radius: 10px;
    margin-left: 810px;
    margin-right: 30px;
    margin-top: 47px;
    padding: 20px;
}
li {
    font-size: 15px;
    font-weight: 500;
}
.addRecipe {
    margin-top: -40px;
    margin-left: -130px;
        position: absolute;
}
button {
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
        width: 100px;
}
button a {
    color: white;
    text-decoration: none;
}